@{
    ViewBag.Title = "Create";
}

<h2>Create User</h2>
<form action="/User/Create" method="POST">
    <div>
        <label>User Name:</label> <input type="text" name="UserName" />
    </div>
    @*<div>
            <label>User ID : </label> <input type="number" name="UserId" />
        </div>*@
    <div>
        <label>User Description </label> <input type="text" name="UserDescription" />
    </div>
    <div>
        <label>User Weight </label> <input type="number" name="UserWeight" />
    </div>
    <div>
        <label>User Age </label> <input type="number" name="UserAge" />
    </div>
    <div>
        <input type="submit" value="Add User" />
    </div>
</form>